#!/usr/bin/env bash
# chezmoi:template:left-delimiter="#{{" right-delimiter="}}#"

if command -v nix >/dev/null 2>&1; then
  echo "Found nix"
else
  echo "Installing nix"
  #{{ if .os.isDarwin -}}#
  curl -L https://nixos.org/nix/install | sh -s
  #{{- else if .os.isLinux -}}#
  curl -L https://nixos.org/nix/install | sh -s -- --daemon
  #{{- end }}#
fi
