custom_background_color #282828
custom_color_contrast 0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color #1d2021
page_separator_width 10
custom_text_color #fbf1c7
search_highlight_color #7ec16e
status_bar_color #427b58
status_bar_text_color #fbf1c7

highlight_color_a          #e5c890
highlight_color_b          #a6d189
highlight_color_c          #99d1db
highlight_color_d          #ea999c
highlight_color_e          #ca9ee6
highlight_color_f          #e78284
highlight_color_g          #e5c890
