ui_font JetBrainsMono Nerd Font Propo
font_size 18
status_bar_font_size 16

start_with_helper_window 0

overview_size 0.852604 0.597729
overview_offset -0.0119792 0.120151

papers_folder_path {{ .syncthing.paths.books }}
shared_database_path {{ joinPath .syncthing.paths.books ".data" }}

super_fast_search 1
case_sensitive_search 0

show_document_name_in_statusbar 0
single_click_selects_words 1
ruler_mode 0

default_dark_mode 1

visual_mark_color  0.1  0.1  0.1 0.5
status_bar_color        0.30 0.30 0.30
status_bar_text_color   1 1 1

should_use_multiple_monitors 1
check_for_updates_on_startup 1
startup_commands toggle_fullscreen;toggle_custom_color

source themes\gruvbox.config
